@font-face {
  font-family: "frt-icons";
  src: url('../fonts/frt-icons.eot');
  src: url('../fonts/frt-icons.eot?#iefix') format('eot'),
    url('../fonts/frt-icons.woff2') format('woff2'),
    url('../fonts/frt-icons.woff') format('woff'),
    url('../fonts/frt-icons.ttf') format('truetype'),
    url('../fonts/frt-icons.svg#frt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="frt_icon"], [class*=" frt_icon"] {
  display: inline-block;
  font-family: "frt-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frt_icon-bath:before { content: "\EA01" }
.frt_icon-bed:before { content: "\EA02" }
.frt_icon-build:before { content: "\EA03" }
.frt_icon-credits:before { content: "\EA04" }
.frt_icon-facebook:before { content: "\EA05" }
.frt_icon-instagram:before { content: "\EA06" }
.frt_icon-logo:before { content: "\EA07" }
.frt_icon-marker:before { content: "\EA08" }
.frt_icon-phone:before { content: "\EA09" }
.frt_icon-project:before { content: "\EA0A" }
.frt_icon-room:before { content: "\EA0B" }
.frt_icon-rooms:before { content: "\EA0C" }
.frt_icon-sell:before { content: "\EA0D" }
.frt_icon-size:before { content: "\EA0E" }