body {
    padding-top: em(70px);
    font-size: 13px;
    font-family: $main_font;
    color: $main_color;
    line-height: $interline_paragraph;
    font-weight: 300;
    @include breakpoint(800px) {
        font-size: 14px;
    }
    @include breakpoint(1280px) {
        font-size: $main_font_size;
    }
}

a {
    text-decoration: none;
    transition: $speed color;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

[class^="frt_icon"], [class*=" frt_icon"] {
    color: $blue;
}

.frt_paragraph_content, .post-content {
    p {
        color: $dark_grey;
        margin: 0;
        padding-bottom: em(38px,24px);
        &:last-of-type {
            padding-bottom: 0;
        }
    }
}

strong {
    font-weight: 700;
}

.font_thin {
    font-weight: 200;
}

.font_medium{
    font-weight: 400;
}
.frt_title strong {
    font-weight: 600;
}

.frt_text{
    font-family: $main_font;
    font-size: em(16px);
    font-weight: 300;
    letter-spacing: $letter-spacing-paragraph;
    color: $dark_grey;
    &_smaller{
        font-size: em(12px);
    }
    &_small{
        font-size: em(14px);
    }
    &_medium{
        font-size: em(16px);
    }
    &_big{
        font-size: em(18px);
    }

    &_force_secondary_font{
        font-family: $secondary_font;
    }

    .appuntamento_btn &{
        font-size: em(16px);
        margin-top: em(30px);
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: $main_color;
    }
}


.frt_title{
    font-size: em(30px);
    font-weight: 200;
    font-family: $secondary_font;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    line-height: $interline_paragraph;
    &.cover_title{
        color: white;
    }
    &_smaller{
        font-size: em(18px);
    }
    &_small{
        font-size: em(24px);
    }
    &_medium{
        font-size: em(30px);
    }
    &_big{
        font-size: em(36px);
    }
    &_bigger{
        font-size: em(48px);
    }
    .header-section & {
        font-size: em(48px);
        color:$blue;
        letter-spacing: $letter-spacing-paragraph;
        text-align: center;
        margin-bottom: em(40px, 48px);
        strong{
            color: $light_blue;
        }
    }
    mark {
        display: block;
        background-color: transparent;
        color: $light_blue;
    }

    .appuntamento_btn & {
        font-size: em(30px);
        text-align: center;
        margin-bottom: em(30px, 30px);
        line-height: 1;
        color: $blue;
        font-weight: 600;
    }
}

.title_schedule{
    font-family: $secondary_font;
    font-size: em(18px);
    text-transform: uppercase;
    letter-spacing: $letter-spacing-title;
    color: $blue;
    font-weight: 600;
    margin-bottom:20px;
}
.address {
    font-size: em(14px);
    letter-spacing: $letter-spacing;
    color: $main_color;
    .cols_60 & {
        font-size: em(18px);
        font-family: $secondary_font;   
        padding-top: em(18px, 18px);
        padding-bottom: em(36px, 18px);
        display: flex;
        align-items: center;
        font-weight: 600;
        letter-spacing: $letter-spacing;
        padding-bottom: em(24px, 14px);
    }
    .frt_icon-marker {
        font-size: em(24px, 18px);
        color: $blue;
        padding-right: em(10px, 24px);
    }
}
.price{
    font-family: $secondary_font;
    font-weight: 600;
    letter-spacing: $letter-spacing;
    color: $main_color;
    line-height: 1;
    .cols_33 &{
        margin-bottom:30px;
        font-size: em(16px);
    }

    .corner & {
        font-size: em(24px);
    }
}
.label_details{
    font-family: $secondary_font;
    font-size: em(12px);
    letter-spacing: $letter-spacing;
    color: $light_blue;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}



.label_pappoc {
    color: $light_blue;
    text-transform: uppercase;
}


.hashtag {
    color: $light_blue;
    letter-spacing: $letter-spacing-paragraph;
    text-transform: uppercase;

}

.quote {
    font-style: italic;
    font-family: $secondary_font;

    letter-spacing: $letter-spacing-paragraph;
    color: $dark_grey;
}

.name {
    color: $blue;
    letter-spacing: $letter-spacing-paragraph;
    text-transform: uppercase;

}

.number_servizi {
    color: $light_grey;
    letter-spacing: $letter-spacing-paragraph;
    font-weight: 200;
}

.star {
    color: $light_blue;
}

.text_intestazione {
    font-family: $secondary_font;
    font-size: 0.625em;

    letter-spacing: $letter-spacing-paragraph;
    color: $grey;

    &.cookie {
        color: $blue;
        text-transform: uppercase;
    }
}

.footer_text {
    font-family: $secondary_font;
    font-size: 0.750em;

    letter-spacing: $letter-spacing-paragraph;
    color: $dark_grey;
    width: 100%;
}


.font_lowercase {
    text-transform: lowercase;
}
.font_uppercase {
    text-transform: uppercase;
}
.font_capitalize {
    text-transform: capitalize;
}

.font_spacing_paragraph {
    letter-spacing: $letter-spacing-paragraph!important;
}

.font_spacing_btn {
    letter-spacing: $letter-spacing-btn;
}

.font_spacing {
    letter-spacing: $letter-spacing-title;
}

.text_center{
    text-align: center;
}

.secondary_font_100 {
    font-family: $secondary_font!important;
    font-weight: 200;
}

.secondary_font_200 {
    font-family: $secondary_font!important;
    font-weight: 200;
}

.secondary_font_400 {
    font-family: $secondary_font!important;;
    font-weight: 400;
}

.secondary_font_500 {
    font-family: $secondary_font!important;
    font-weight: 500;
}

.secondary_font_600 {
    font-family: $secondary_font!important;
    font-weight: 600;
}

.main_color{
    color: $main_color!important;
}
.blue {
    color: $blue!important;
}

.light_blue {
    color: $light_blue!important;
}

.dark_grey {
    color: $dark_grey!important;
}

.grey {
    color: $grey!important;
}

.light_grey {
    color: $light_grey!important;
}

.white {
    color: white !important;
}

@import 'fonts';