.type-immobile {
    .cols_meta {
        .image_wrapper {
            width: $f*8;
            margin: 0 auto
        }
        .parent_logo {
            width: $f*0.3;
        }
    }
}

.dotations {
    text-transform: uppercase;
    font-size: em(12px);
    color: $dark_grey;
    letter-spacing: $letter-spacing;
    line-height: percentage(18px/12px);
}

.map_service {
    @include flex($jc: flex-end);
    min-height: calc(100vh - #{em(70px)});
    font-family: $secondary_font;
    position: relative;
    overflow: hidden;
    &:before, &:after {
        @include dash(18px, 6px, $main_color);
        z-index: 2;
        position: absolute;
        left: 0;
        content: '';
        height: 4px;
        width: $f;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &_cols {
        width: $f/$golden-ratio/$golden-ratio;
        background-color: transparentize($w, .2);
        min-height: calc(100vh - #{em(70px)});
        @include flex($ai: center, $ac: center, $wrap: true);
        @include normalize_padding();    
        position: relative;
        z-index: 1;
    }
    &_title, &_list {
        width: $f;
    }
    &_list {
        padding-top: em(40px);
        counter-reset: section;
        position: relative;
    }
    &_item {
        padding-bottom: em(20px);
        counter-increment: section;
        a {
            display: inline-block;
            position: relative;
            color: $light_blue;
            text-transform: uppercase;
            font-weight: 600;
            padding-left: em(60px);
            transition: padding-left $speed;
            &:before, &:after {
                position: absolute;
                top: 50%;
            }
            &:before {
                content: counter(section);
                font-weight: 600;
                border: $border_h/2 solid $main_color;
                color: $main_color;
                border-radius: $f;
                font-size: em(12px);
                width: em(20px, 12px);
                height: em(20px, 12px);
                @include flex($ai: center, $jc: center);
                margin-top: -#{em(10px, 12px)};
                left: 0;
            }
            &:after {
                height: $border_h/2;
                background-color: $main_color;
                width: em(20px);
                content: '';
                left: em(20px);
                margin-top: $border_h/4*(-1);
            }
            &:hover {
                color: $blue;
                padding-left: em(50px);
//                &:before, &:after {
//                    transform: translateX(10px);
//                }
            }
        }
    }
    .marker {
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
    }
    &_point {
        @include flex($ai: center, $jc: center);
        border-radius: $f;
        text-align: center;
        background-color: $w;
        width: em(40px);
        height: em(40px);
        border: $border_h/2 solid $main_color;
    }
    .frt_icon-marker {
        font-size: em(40px);
        color: $blue;
    }
    .map {
        @include absfull();
    }
}