.frt_quotes(ng-carousel)
    .corner.frt_corner_content
    ul.frt_quotes_list(ng-swipe-left="dir(true, pos, max)" ng-swipe-right="dir(false, pos, max)")
        li.frt_quotes_list_item.carousel-item(ng-repeat="review in reviews | orderBy : rating")
            .container_quote(ng-class="{'has_review' : review.review_text}")
                .quote-text.frt_review(ng-if="review.review_text")
                    p(ng-bind-html="review.review_text")
                .container_quote_mediaobject
                    figure.container_img_mediaobject
                        img(ng-src="https://graph.facebook.com/{{review.reviewer.id}}/picture?type=large")
                    .container_text_mediaobject
                        strong.name_reviewer.name(ng-bind-html="review.reviewer.name")
                        .star_review
                            span.star(ng-repeat="n in range(1, review.rating)")
    nav.carousel-nav
        span.arrow-prev.arrow(ng-click="dir(false, pos, max)" ng-class="{inactive : pos == 0}")
            span.arrow-line
        span.arrow-next.arrow(ng-click="dir(true, pos, max)" ng-class="{inactive : pos == max}")
            span.arrow-line