.corner.frt_corner_content
    .frt_instagram
        figure.frt_instagram_item(ng-repeat="item in items")
            a(ng-href="{{item.link}}" target="_blank")
                img(ng-src="{{resize(item.images.thumbnail.url)}}")
        a.frt_btn(ng-href="{{insta}}" target="_blank")
            .btn_wrapper
                i.icon_button.frt_icon-instagram
                span.label_button Seguici su Instagram