$frt_btn_padding_desktop: em(20px) em(40px);
$frt_btn_padding_mobile: em(10px) em(20px);

.container_button {
    position: relative;

    &_center {
        @include padder-center;
        flex-wrap: wrap;
    }

}

.frt_btn {
    position: relative;
    z-index: 1;
    border: 0;
    padding: 0;
    margin: em(10px);
    transition: {
        property: background-color, border-color;
        duration: .5s;
    }
    @include breakpoint($bp) {
        margin: em(10px) em(20px);
    }
    .btn_wrapper {
        border: solid $border_h $frt_btn_border_color;
        padding: $frt_btn_padding_mobile;
        background-color: white;
        position: relative;
        text-transform: uppercase;
        z-index: 2;

        @include breakpoint($bp) {
            padding: $frt_btn_padding_desktop;
        }
    }

    &:before {
        content: "";
        background: linear-gradient(-45deg,
            #000 1px, transparent 0,
            transparent calc(50% - 1px), #000 0,
            #000 calc(50% + 1px), transparent 0,
            transparent calc(100% - 1px), #000 0);
        background-size: 6px/sqrt(2) 6px/sqrt(2);
        position: absolute;
        bottom: $border_h*(-1);
        left: $border_h*(-1);
        width: 100%;
        height: 100%;
        opacity: 0.25;
        transition:opacity $speed;
    }

    &:after {
        content: "";
        bottom: 0;
        left: 0;
        background: #000006;;
        opacity: 0;
        transition: $speed;;
        z-index: 1;
        position: absolute;

        width: 100%;
        height: 100%;
    }
    &:hover {
        .btn_wrapper {
            @include padder-center;
            background-color: $light_blue;
            border-color: $light_blue;
            color: white;
        }
        &:after {
            opacity: 1;
            bottom: $border_h*(-2);
            left: $border_h*(-2);
        }
        &:before {
            opacity: 0;
        }
        .icon_button{
            color: white;
        }
    }
}

.label_button {
    font-size: em(12px);
    font-weight: 400;
    letter-spacing: $letter-spacing-btn;
    text-align: left;

    @include breakpoint(640px){
        font-size: em(13px);
    }
    @include breakpoint($bp){
        font-size: em(14px);
    }
    @include breakpoint(1024px){
        font-size: em(16px);
    }
}

.icon_button {
    font-size: em(20px);
    color: $blue;
    margin-right: em(20px, 20px);
    @include breakpoint(640px){
        font-size: em(21px);
        margin-right: em(20px, 21px);
    }
    @include breakpoint($bp){
        font-size: em(22px);
        margin-right: em(20px, 22px);
    }
    @include breakpoint(1024px){
        font-size: em(24px);
        margin-right: em(20px, 24px);
    }
}