/*

<div class="frt_img nocanvas flip reverse medium" style="width: 40%">
<div class="frt_img_wrapper medium reverse">
<img src="img/test.png"/>
</div>
</div>


*/

$frt_img_padding: 1.9em 2.5em;
$frt_img_canvas_size: 10px;
$frt_img_big_canvas_size: 30px;

.frt_img {
    line-height: 0px;
    width: 100%;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/strips.png");
        top: $border_h;
        left: $border_h;
    }

    &.large {
        &:after {
            background-image: url("../img/strips_medium.png");
        }
    }
    &.medium {
        &:after {
            background-image: url("../img/strips_medium.png");
        }
    }

    .frt_img_wrapper {
        position: relative;



        &.reverse:after {

        }

        &.medium:after {

        }

        &.medium.reverse:after {

        }

        &.no_filter:after {
        }

        img {
            border: none;
            margin: 0px;
            width:100%;
            max-width: 100%;
            max-height: 100%;
            position: relative;
            height: auto !important;
        }
    }

    &.nocanvas {
        background-image: none !important;
        .frt_img_wrapper {

            &:after {
                top: 0px !important;
                left: 0px !important;
            }

            img {
                top: 0px !important;
                left: 0px !important;
            }
        }
    }

    &.bigcanvas {

        .frt_img_wrapper {

            &:after {
                top: $frt_img_big_canvas_size * (-1);
                left: $frt_img_big_canvas_size;
            }

            img {
                top: $frt_img_big_canvas_size * (-1);
                left: $frt_img_big_canvas_size;
            }
        }

        &.flip {
            .frt_img_wrapper {

                img {
                    left: $frt_img_big_canvas_size * (-1) !important;
                }
            }

        }
    }

    &.flip {
        .frt_img_wrapper {
            &:after {


            }
            img {


            }
        }
    }

}


.frt_img_cover{
    position: relative;
    width:100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    z-index: -1;
}

