$corner_border: $border_h solid $main_color;

.corner{
    width: 100%;
    position: relative;
    padding: em(40px);
    @include breakpoint($bp){
        padding: em(80px);
    }
    &:after{
        content: "";
        width: em(30px);
        height: em(30px);
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        border-top: $corner_border;
        border-left:$corner_border;
    }
    &:before{
        content: "";
        width: em(30px);
        height: em(30px);
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0px;
        bottom: 0px;
        border-right: $corner_border;
        border-bottom:$corner_border;

    }
    &.white{
        &:after {
            border-top-color: $w;
            border-left-color: $w;
        }
        &:before {
            border-right-color: $w;
            border-bottom-color: $w;
        }
    }
}
.frt_corner_content {
    max-width: 1366px/$golden-ratio;    
    margin: {
        left: auto;
        right: auto;
    }
}