.list{
    list-style-type:none;
    font-size:16px;
    .hyphen-list{
        position:relative;
        padding-left: em(40px);
        margin-bottom: em(10px);
        align-items: center;
        &:before {
            content: "";
            position: absolute;
            height: $border_h;
            width: 20px;
            background: $main_color;
            top: 50%;
            margin-top: ($border_h/2)*-1;
            left: 0px;
        }

        .attributes & {
            font-family: $secondary_font;
            font-size: em(16px);
            letter-spacing: $letter-spacing;
            color: $light_blue;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

}

.signature {
    .name{
        position:relative;
        padding-left:35px;
        &:before {
            content: "";
            position: absolute;
            display:inline-block;
            height: 4px;
            width:30px;
            background: black;
            margin-right:20px;
            top: 50%;
            left:0px;
        }
    }
}

