
.frt_mediaObject {
    width: 100%;
    .image_wrapper {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            height: auto !important;
        }
        .container_button {
            position: absolute;
            width: 100%;
            padding-left: 0px;
            bottom: 0;
            transform: translateY(50%);
            z-index: 3;
        }

    }

    .content_bubble {
        position: relative;
        width: 100%;

        .frt_paragraph {
            .container_button {

                position: absolute;
                width: 100%;
                bottom: 0;
                transform: translate3d(0, 50%, 0);
                z-index: 3;

            }
            figure {
                position: relative;
                max-width: 100%;
                display: inline-block;
                img {
                    display: block;
                    width:100%;
                    margin-left: auto;
                    margin-right: auto;
                    height: auto !important;
                }
            }
        }
    }
}


.image_wrapper {
    position: relative;
    img {
        display: block;
        width: 100%;
        height: auto !important;
    }
    .frt_btn{
        position: absolute;
        margin:0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
        z-index: 3;
    }
}